<div class="container-fluid">
  <div class="container xd-container">
    <h2>New Offer</h2>
    <form id="offer" class="form-horizontal" (ngSubmit)="onSubmit(offerForm.value)" #offer="ngForm">
      <div class="form-group" hidden="true"></div>
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="offer.id" name="id"/>
      <div class="form-group has-feedback">
        <div class="form-group ">
          <label class="col-sm-1 control-label">Title</label>
          <label class="col-sm-1 control-label">Description</label>
          <label class="col-sm-1 control-label">Discount</label>
          <label class="col-sm-1 control-label">Expired date</label>
          <div class="col-sm-6">
            <input id="name" name="name" class="form-control" type="text" [(ngModel)]="offer.name"/>
          </div>
          <button class="btn btn-default" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
  </div>


