<form class="form-horizontal" #offerForm="ngForm" (ngSubmit)="onSubmit(offerForm.value)">
  <div class="form-group">
    <label for="Title">Title </label>
    <input type="text" class="form-control" required [(ngModel)]= "offer.title" name="title" #title="ngModel">
    <div [hidden]= "title.valid || title.pristine" class = "alert alert-danger">Rellenar obligatorio</div>
  </div>
  <div class="form-group">
      <label for="Description">Description </label>
      <input type="text" class="form-control" required [(ngModel)]= "offer.description" name="description" #description="ngModel">
      <div [hidden]= "description.valid || description.pristine" class = "alert alert-danger">Rellenar obligatorio</div>
  </div>
  <div class="form-group">
      <label for="Discount">discount </label>
      <input type="text" class="form-control" required [(ngModel)]= "offer.discount" name="discount" #discount="ngModel">
      <div [hidden]= "discount.valid || discount.pristine" class = "alert alert-danger">Rellenar obligatorio</div>
    </div>
  <div class="form-group">
      <label for="ExpireDate">ExpireDate </label>
      <input type="text" class="form-control" required [(ngModel)]= "offer.expireDate" name="expireDate" #expireDate="ngModel">
      <div [hidden]= "expireDate.valid || expireDate.pristine" class = "alert alert-danger">Rellenar obligatorio</div>
  </div>
  <div class ="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit" [disabled]="!offerForm.valid">add Offer</button>
    </div>
  </div>
